  
#board{
    border-radius: var(--element-spacing);
    background-size: 50px 50px;
    background-image: conic-gradient(
      var(--primary-color) 90deg,
      var(--primary-color) 90deg 180deg,
      var(--assent-color) 180deg 270deg,
      var(--primary-color) 270deg
    );
    box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.12);
}

.row{
    display: flex;
}

.cell{
    width: var(--laptop-cell-size);
    height: var(--laptop-cell-size);
}
.snake{
    background-color: var(--snake-color);
    border-radius: 40%;
}

.food{
    background-image: url("./fruit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all linear 1s;
    animation: evolve ease-in-out 300ms 1;
}

#display{
    width: calc(var(--laptop-cell-size)*15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--element-spacing);
}
.h{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: rgb(196, 196, 196);
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    margin: 10px 0px;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
}

#apple-image{
    width: 30px;
    height: 30px;
    background-image: url("./fruit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all linear 1s;
    animation: evolve ease-in-out 300ms 1;
}

#score *{
    margin: calc(var(--element-spacing)/2);
}

#controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--element-spacing);
    margin: var(--element-spacing);
    width: 35vmin;
}
.subcontroller{
     display: flex;
     justify-content: space-between;
     margin-top: 5px;
     margin-bottom: 5px;
}

.direction-button{
    width: 40px;
    height: 40px;
    background-color: var(--food-color);
    border-radius: calc(var(--element-spacing)/2);
    margin: 0px calc(var(--element-spacing)/2);
    padding: var(--element-spacing);
    background-image: url("./arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
}

#ArrowLeft{
    transform: rotateZ(270deg);
    margin-right: 15px;
}

#ArrowUp{
    transform: rotateZ(0deg);
}

#ArrowDown{
    transform: rotateZ(180deg);
}

#ArrowRight{
    transform: rotateZ(90deg);
    margin-left: 15px;
}

.restart{
    width: 30px;
    height: 30px;
    background-color: var(--food-color);
    border-radius: calc(var(--element-spacing)/2);
    padding: var(--element-spacing);
    background-image: url("./refresh.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.button-space{
    padding: calc(2*var(--element-spacing));
}

#message{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-opaque);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

#card{
    width: 250px;
    height: 250px;
    background-image: conic-gradient(
      var(--primary-color) 90deg,
      var(--primary-color) 90deg 180deg,
      var(--assent-color) 180deg 270deg,
      var(--primary-color) 270deg
    );
    color: var(--white);
    border-radius: var(--element-spacing);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

#info{
    width: calc(var(--laptop-cell-size)*15);
    text-align: center;
    padding: var(--element-spacing);
}
.restart{
    cursor: pointer;
}

/* Animation */

@keyframes evolve{
    from{
        background-color: rgba(255, 166, 0, 0.726);
        background-size: 80% 80%;
    }
    to{
        background-color: transparent;
        background-size: 100% 100%;
    }
}

/* Media query */

@media (max-width: 720px){
    #board{
        background-size: 30px 30px;
    }
    #display{
        width: calc(var(--mobile-cell-size)*15);
    }
    #info{
        width: calc(var(--mobile-cell-size)*15);
    }
    .cell{
        width: var(--mobile-cell-size);
        height: var(--mobile-cell-size);
    }
    #card{
        height: 300px;
    }
    .direction-button{
        width: 30px;
        height: 30px;
    }
}